<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
                <% comp.forEach(function(name){ %>
                    <li class="list-group-item"><a href="/competitions/<%=name.id%>/fixtures"><%=name.caption%></a></li>
                <% })%>    
        </div>
        
    <div class="col-lg-9">
        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div>    
    </div>
</div>


<% include ./partials/footer %>
