<html>
    <head>
        <title>FootballWorld</title>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    </head>
    <body>
        <div id="heading">
        <h1 >Welcome to the world of football</h1>
        </div>
        <div id="landing-logo">
        <a href="/competitions"><i class="fas fa-futbol"></i></a>    
        </div>
        
    <div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>    
    </div>    
    </body>
</html>